In [2]:
from bastionlab import Identity

# Create `Identity` for Data owner.
data_owner = Identity.create("data_owner")

In [1]:
!wget 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

--2022-12-14 10:08:03--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.01s

2022-12-14 10:08:03 (4.46 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [8]:
import polars as pl

df = pl.read_csv("titanic.csv")

In [9]:
from bastionlab import Connection

connection = Connection("localhost")

In [10]:
from bastionlab.polars.policy import Policy, Aggregation, Log

policy = Policy(safe_zone=Aggregation(min_agg_size=10), unsafe_handling=Log())
rdf = connection.client.polars.send_df(df, policy=policy, sanitized_columns=["Name"])

In [12]:
rdf.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [4]:
_rdf = rdf.to_dataset(["PassengerId", "Survived"], "Age").to_df(
    ["PassengerId", "Survived"], "Age"
)

_rdf.fetch()

<bastionlab.torch.client.BastionLabTorch object at 0x7fc9b96387f0>
<bastionlab.polars.client.BastionLabPolars object at 0x7fc9b9638f40>

shape: (891, 3)
┌─────────────┬──────────┬──────┐
│ PassengerId ┆ Survived ┆ Age  │
│ ---         ┆ ---      ┆ ---  │
│ i64         ┆ i64      ┆ f32  │
╞═════════════╪══════════╪══════╡
│ 1           ┆ 0        ┆ 22.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 2           ┆ 1        ┆ 38.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 3           ┆ 1        ┆ 26.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 4           ┆ 1        ┆ 35.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...         ┆ ...      ┆ ...  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 888         ┆ 1        ┆ 19.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 889         ┆ 0        ┆ 0.0  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 890         ┆ 1        ┆ 26.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 891         ┆ 0        ┆ 32.0 │
└─────────────┴──────────┴──────┘